body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#map {
    width: 100%; 
    height: 100%;
}

.title {
    position: absolute;
    z-index: 100;
    font-size: 88px;
    font-weight: bold;
    text-transform: uppercase;
    top: 100px;
    left: 100px;
    color: #333;
}

.search-container {
    position: absolute;
    z-index: 100;
    top: 230px;
    left: 100px;
    height: 60px;
    background-color: #454e53;
    border-radius: 30px;
    width: 400px;
    height: 60px;
    display: flex;
}

.search-container input {
    font-size: 25px;
    background-color: transparent;
    border: none;
    color: white;
    width: 100%;
    padding-left: 10px;
}

.search-container .search {
    flex-grow: 1;
    display: flex;
    align-items: center;
    
}

.search-container input:focus {
    outline: none;
}

.search i {
    font-size: 25px;
    color: white;
}

.stores-list-container {
    width: 400px;
    position: absolute;
    z-index: 100;
    background: white;
    left: 100px;
    top: 320px;
    border-radius: 30px;
    bottom: 0;
    display: flex;
    overflow: hidden;
    padding-bottom: 30px;
}


.store-container {
    border-bottom: 1px solid #979797;
    display: flex;
    cursor: pointer;
}

.store-address {
    font-size: 21px;
    color: #514c4c;
    margin-top: 30px;
}

.store-phone-number {
    color: #b5adad;
    margin-top: 15px;
    margin-bottom: 15px;
}

.store-container span {
    display: block;
}

.store-number {
    width: 30px;
    height: 30px;
    background-color: #454e53;
    color: #b5adad;
    border-radius: 50%;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.store-info-container {
    flex-grow: 1;
}

.store-number-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stores-list {
    flex-grow: 1;
    overflow-y: scroll;
    padding-left: 20px;
    padding-right: 20px;
}

.store-info-window {
    min-width: 300px;
    font-size: 18px;
    padding: 8px;
    z-index: 101;
}

.store-info-name {
    font-size: 24px;
    font-weight: bold;
    color: rgb(0,0,0,.87);
}
.store-info-status {
    margin-top: 6px;
    border-bottom: 1px solid #00000029;
    padding-bottom: 6px;
}
.store-info-address, .store-info-phone {
    margin-top: 8px;
    display: flex;
    align-items: center;
}

.store-info-address .circle, .store-info-phone .circle {
    width: 30px;
    height: 30px;
    background-color: #1985a1;
    color: white;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-right: 8px;
}

.search i {
    cursor: pointer;
}

.store-container-background {
    display: flex;
    flex-grow: 1;
    border-radius: 12px;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 12px;
    margin-bottom: 12px;
    transition: all 0.2s ease-in-out;
}

.store-container-background:hover {
    background-color: #ccc;

}